name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install changelogs
        run: cargo install --path .

      - name: Create Release PR
        uses: ./
        with:
          version: changelogs version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
